:root {
    --ion-background-color: white;
    --ion-tab-bar-color: white;
    --ion-tab-bar-color-selected: var(--ion-color-primary);
    --ion-tab-bar-color: rgb(59, 59, 59);
}

ion-tab-bar {
    --background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px !important;

    height: 50px;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;

    bottom: 20px;
    position: relative;
    margin: 0 auto !important;
    border-top: none;
}

ion-tab-button {
    border-radius: 16px !important;
}

ion-tab-button ion-icon {
    font-size: 1.5rem;
}