ion-toolbar {
    --background: #BBE1FC;
    --color: black;

    /* --background-color: #BBE1FC; */
  
    /* --border-color: none; */
    /* --border-width: 0px 0; */
    /* --border-style: double; */
  
    --min-height: 80px;
    --padding-top: 30px;
    --padding-bottom: 15px;
  }
